*{
    box-sizing: content-box;
}
.outerdiv{
    width: 500px;
    height: 500px;
    border: 2px solid red;
 margin:auto
}
.h1,.p,.list{
    border: 2px solid red;
    width: 450px;
    padding: 5px;
    margin: 20px auto;
}
.l1,.l2{
    border: 2px solid red;
    width: 400px;
    padding: 5px;
    margin:0px -15px;
}
button,a{
    border: 3px solid  red;
}
.pd{
    margin-left: 20px;
}
